.header-main {
    width: 100%;
    height: 4em;

    background-color: pink;
}

.header-logo img {
    width: 4em;
    height: 100%;
    object-fit: contain;
}

.header-side-menu {
    background-color: pink;
    width: 10em;
}